<div class="comments">
    <div class="comments__header pb-3">
        <div class="clearfix">
            <h4 class="float-left text-dark">{{ 'L_COMMENTS'|transL }}</h4>
            <h6 class="float-right text-muted">{{ comments|length }} {{ 'L_COMMENTS'|transL|lower }}</h6>
        </div>
        {% if is_granted('ROLE_USER') %}
            {{ htmlAddComment is defined ? htmlAddComment|raw : '' }}
        {% else %}
            <p class="bg-light rounded p-4 text-center text-info">
                {{ 'L_PLEASE_SIGNIN_OR_REGISTER_FOR_COMMENTING'|transL({ '%login%': path('app_login'), '%register%': path('app_register') })|raw }}
            </p>
        {% endif %}
    </div>
    <div class="comments__list">
    {% for comment in comments if not comment.parent %}
        {{ include('comment/item.html.twig') }}
    {% endfor %}
    </div>
</div>

