<div class="d-flex">
    <div class="pr-3 d-none d-sm-block">
        <img class="img-fluid rounded-circle user-avatar" src="{{ image_path ~ comment.owner.avatar }}" />
    </div>
    <div class="w-100">
        <div class="clearfix">
            <h5 class="float-left media-heading user_name">{{ comment.owner.firstname }}</h5>
            <p class="float-right text-info small">{{ comment.createdAt|ago }}</p>
        </div>
        <p class="text-success">{{ comment.text }}</p>
        {% if is_granted('ROLE_USER') %}
            <div class="clearfix">
                <div class="float-left">
                    <div class="btn-group btn-group-sm js-like">
                        <a rel="nofollow" href="{{ path('api_comment_like', { id: comment.id }) }}" class="btn btn-sm btn-outline-success js-like-btn" data-type="1"><i class="fas fa-thumbs-up"></i> <span>{{ comment.likeCount }}</span></a>
                        <a rel="nofollow" href="{{ path('api_comment_dislike', { id: comment.id }) }}" class="btn btn-sm btn-outline-danger js-like-btn" data-type="-1"><i class="fas fa-thumbs-down"></i> <span>{{ comment.dislikeCount }}</span></a>
                    </div>
                </div>
                <div class="float-right">
                    <button data-id="{{ comment.id}}" data-toggle="collapse" data-target="#collapse-comment-reply-{{ comment.id }}" class="btn btn-sm btn-outline-info px-4">
                        <i class="fas fa-reply"></i>
                    </button>
                </div>
            </div>
            <div class="collapse" id="collapse-comment-reply-{{ comment.id }}">
                <div class="mt-2 py-2 px-5 card bg-light rounded js-comment-reply">
                    <textarea rows="3" class="form-control"></textarea>
                    <button class="btn btn-outline-info btn-block js-comment-reply-btn" data-id="{{ comment.id }}">
                        <i class="fas fa-reply"></i> {{ 'L_REPLY'|transL }}
                    </button>
                </div>
            </div>
        {% endif %}
        <hr>
        {% for child in comment.children %}
            {{ include('comment/item.html.twig', { comment: child }) }}
        {% endfor %}
    </div>
</div>