<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome to Blog!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container">
                <a class="navbar-brand font-weight-bold" href="{{ path('homepage') }}">Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="{{ path('user_list') }}">Authors <span class="sr-only">(current)</span></a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('article_add') }}">New article</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item dropdown mr-auto" style="margin-right: 75px;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="nav-profile-img rounded-circle" src="{{ app.user.avatarPath }}">
                                    {{ app.user.firstname }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('easyadmin') }}">Admin</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path('user_profile', {username:app.user.username}) }}">Profile</a>
                                    <span class="dropdown-divider"></span>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ include('_include/_client_global_states.html.twig') }}
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/vendor.js') }}"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>
            {{ include('_include/_flashes.html.twig') }}
        {% endblock %}
    </body>
</html>
