{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' 'form/fields.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container card p-3">
        {% if form.vars.data.slug %}
            <a href="{{ path('article_show', {slug:form.vars.data.slug}) }}" class="btn btn-light">{{ 'L_BACK'|transL }}</a>
        {% else %}
            <a href="{{ path('article_list') }}" class="btn btn-light">{{ 'L_BACK'|transL }}</a>
        {% endif %}
        <hr>
        {{ form(form) }}
    </div>
{% endblock %}