{% extends 'base.html.twig' %}

{% form_theme filter 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 card p-4">
                {{ include('article/_include/_article_list.html.twig') }}
            </div>
            <div class="col-md-4 d-none d-md-block card p-4">
                <button class="btn btn-light btn-block" data-toggle="collapse" data-target="#collapseFilter">
                    <span class="text-info">{{ 'L_SEARCH_ARTICLES'|transL }}</span>
                </button>
                {% set req = app.request.get('article_filter') %}
                <div class="collapse my-2 {{ req['search'] is defined ? 'show' : '' }}" id="collapseFilter">
                    {{ form_start(filter) }}
                        {{ form_row(filter.query) }}
                        {{ form_row(filter.queryfor) }}
                        {{ form_row(filter.period) }}
                        {{ form_row(filter.author) }}
                        {{ form_row(filter.tags) }}
                        {{ form_row(filter.category) }}
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(filter.reset) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(filter.search) }}
                            </div>
                        </div>
                    {{ form_end(filter) }}
                </div>
                {% include '_include/_sidebar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

