{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 card p-4">
                <h1><span class="font-weight-bold">{{ article.title }}</span></h1>
                <div class="clearfix py-2">
                    <div class="float-left">
                        <img class="img-fluid rounded-circle" src="{{ article.author.avatarPath }}">
                        <a href="{{ path('user_profile', {username:article.author.username}) }}">{{ article.author.firstname }}</a>
                    </div>
                    <div class="float-right">
                        {% if is_granted('EDIT', article) %}
                            <a href="{{ path('article_edit', {id:article.id}) }}" class="btn btn-sm btn-outline-success"><i class="fas fa-pencil-alt"></i> Edit</a>
                        {% endif %}
                        <ul class="icons-inline text-info small">
                            <li>{{ article.createdAt|date('H:i d.m.Y') }}</li>
                            <li>
                                <a href="{{ path('api_article_bookmark', {id: article.id}) }}"
                                   class="text-info js-bookmark-article-btn {{ not is_granted('ROLE_USER') ? 'not-allowed' : '' }}"
                                   data-token="{{ csrf_token('_api') }}">
                                    <i class="fas fa-bookmark"></i><span>{{ article.bookmarkCount }}</span>
                                </a>
                            </li>
                            <li><i class="fas fa-eye"></i><span>{{ article.watchCount }}</span></li>
                            <li><i class="fas fa-comment"></i><span>{{ article.commentCount }}</span></li>
                        </ul>
                    </div>
                </div>
                <p>{{ article.content|raw }}</p>
                <p class="text-info small">
                    {% for tag in article.tags %}
                        <a href="{{ path('article_by_tag', {name: tag.name}) }}" class="border px-1 rounded text-info">{{ tag.name }}</a>
                    {% endfor %}
                </p>
                {% if is_granted('ROLE_USER') %}
                <div class="d-flex justify-content-center">
                    <div class="btn-group btn-group-toggle js-like" data-token="{{ csrf_token('_api') }}">
                        <a href="{{ path('api_article_like', {id: article.id}) }}" class="btn btn-sm btn-outline-success js-like-btn" data-type="1">
                            <i class="fas fa-thumbs-up"></i> <span>{{ article.likeCount }}</span>
                        </a>
                        <a href="{{ path('api_article_dislike', {id: article.id}) }}" class="btn btn-sm btn-outline-danger js-like-btn" data-type="-1">
                            <i class="fas fa-thumbs-down"></i> <span>{{ article.dislikeCount }}</span>
                        </a>
                    </div>
                </div>
                {% endif %}
                <div class="pt-2">
                    {% include 'comment/index.html.twig' with {comments: article.comments, commentForm: commentForm} %}
                </div>
            </div>
            <div class="col-4 card p-4">
                {% include '_include/_sidebar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.js-like-btn').on('click', function (e) {
                e.preventDefault();
                if ($(this).hasClass('not-allowed')) return false;

                let $this = $(this),
                    $btnGroup = $this.closest('.js-like'),
                    $like = $btnGroup.find('[data-type="1"] span'),
                    $dislike = $btnGroup.find('[data-type="-1"] span'),
                    token = $btnGroup.data('token')
                ;

                appGet($this.attr('href'), { token: token }).then(function(data) {
                    if (data.type === 'success') {
                        $like.html(data.data.likes);
                        $dislike.html(data.data.dislikes);
                    }
                    notify(data.type, data.message);
                });
            });

            $('.js-bookmark-article-btn').on('click', function (e) {
                e.preventDefault();
                if ($(this).hasClass('not-allowed')) return false;

                let $this = $(this),
                    $bookmarkValue = $this.find('span'),
                    token = $this.data('token')
                ;

                appGet($this.attr('href'), { token: token }).then(function(data) {
                    if (data.type === 'success') {
                        $bookmarkValue.html(data.data);
                    }
                    notify(data.type, data.message);
                });
            });
        });
    </script>
{% endblock %}