{% extends 'user/_layout.html.twig' %}

{% block title %}User articles{% endblock %}

{% block user_content %}
    <div class="row">
        <div class="col">
            <div class="row">
                {% for comment in pagination %}
                    {% set article = comment.article %}
                    <div class="col-md-12 pb-4">
                        <h5 class="font-weight-bold pb-2">
                            <a href="{{ path('article_show', { slug: article.slug }) }}" class="text-black" style="text-decoration: none;color:#0b2e13">
                                {{ article.title }}
                            </a>
                        </h5>
                        <blockquote class="blockquote">
                            <p class="mb-0 f14 text-dark">{{ comment.text }}</p>
                            <footer class="blockquote-footer">
                                <small>{{ comment.owner.firstname }}</small>
                                <ul class="icons-inline text-info small">
                                    <li>{{ comment.createdAt|ago }}</li>
                                    <li><i class="fas fa-thumbs-up"></i> {{ comment.likeCount }}</li>
                                    <li><i class="fas fa-thumbs-down"></i> {{ comment.dislikeCount }}</li>
                                </ul>
                            </footer>
                        </blockquote>
                        <hr>
                    </div>
                {% else %}
                    <h6 class="col-md-12 pb-4">No comments</h6>
                {% endfor %}
            </div>
            {% include '_include/_pagination.html.twig' %}
        </div>
    </div>
{% endblock %}