{% extends 'user/_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/avatar_crop.css') }}">
{% endblock %}

{% block title %}User edit profile{% endblock %}

{% block user_content %}
    {{ form_start(form) }}
        <div class="form-group row">
            <label class="col-form-label col-sm-2">Avatar</label>
            <div class="col-sm-10">
                <div style="max-height: 400px">
                    {% if form.vars.data.avatar %}
                        <img src="{{ image_path ~ form.vars.data.avatar }}" id="avatar" style="height:150px">
                    {% else %}
                        <img id="avatar">
                    {% endif %}
                </div>
                {{ form_widget(form.uploadedFile) }}
                {{ form_errors(form.uploadedFile) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.aboutMe, '', { label_attr: { class: 'col-form-label col-sm-2' } }) }}
            <div class="col-sm-10">
                {{ form_errors(form.aboutMe) }}
                {{ form_widget(form.aboutMe) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 offset-sm-2">
                {{ form_widget(form.save) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/avatar_crop.js') }}"></script>
{% endblock %}