{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 card p-4">
                {% for user in pagination %}
                    <div class="d-flex">
                        <div class="pr-3">
                            <img class="img-fluid rounded-circle user-avatar" src="{{ image_path ~ user.avatar }}">
                        </div>
                        <div class="w-75">
                            {{ user.firstname }} <a href="{{ path('user_profile', { username: user.username }) }}">@{{ user.username }}</a>
                            <span class="rank-rect text-secondary"><i class="fas fa-star"></i> {{ user.rank }}</span><br>
                            <span class="text-info small">{{ user.lastActivityAt|ago }}</span>
                        </div>
                    </div>
                    <hr>
                {% else %}
                    <h6 class="col-md-12 pb-4">No authors found</h6>
                {% endfor %}
                {{ knp_pagination_render(pagination, null, {}, {
                    'position': 'centered',
                    'rounded': true
                }) }}
            </div>
            <div class="col-md-4 d-none d-md-block card p-4">
                {% include '_include/_sidebar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

