{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 card p-4">
                {% for user in pagination %}
                    <div class="d-flex">
                        <div class="pr-3">
                            <img class="img-fluid rounded-circle" style="width: 60px" src="{{ user.avatarPath }}">
                        </div>
                        <div class="w-75">
                            {{ user.firstname }} <a href="{{ path('user_profile', {email:user.username}) }}">@{{ user.username }}</a>
                            <span class="rank-rect text-secondary"><i class="fas fa-star"></i> {{ user.rank }}</span><br>
                            <span class="text-info small">Last activity 1 minute ago</span>
                        </div>
                    </div>
                    <hr>
                {% else %}
                    <h6 class="col-md-12 pb-4">No authors found</h6>
                {% endfor %}
                {{ knp_pagination_render(pagination, null, {}, {
                    'position': 'centered',
                    'rounded': true
                }) }}
            </div>
            <div class="col-4 card p-4">
                {% include '_include/_sidebar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

